{% load thumbnail %}


{# start render figure/figcaption #}

{# end render figure/figcaption #}
<style type="text/css" media="screen">#footer .section:first-child{ text-align: center;  }
     .figure-overlay .figure-overlay-container .figure-caption { text-align: center;  }
     .center-block { text-align: center;  }
     @media (min-width: 992px) {
         .transparent-header #masthead .navbar-brand {
                                            background-image: url('{{ instance.picture.url }}');
                                            background-size: contain;
                                        }
         .transparent-header #masthead .navbar-brand img {
                                            visibility: hidden;
                                        }
         .transparent-header #masthead.navbar-scrolled .navbar-brand {
                                          background-image: none;
                                        }
         .transparent-header #masthead.navbar-scrolled .navbar-brand img {
                                          visibility: visible;
                                        }
                                    }
     </style>

    


{% comment %}
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/image
    # https://developer.mozilla.org/en-US/docs/Web/HTML/Element/figure
    # https://github.com/divio/django-filer/blob/master/filer/models/imagemodels.py
    # http://easy-thumbnails.readthedocs.io/en/2.1/usage/#templates
    {{ instance.picture }}
    # Available variables:
    {{ instance.width }}
    {{ instance.height }}
    {{ instance.alignment }}
    {{ instance.caption_text }}
    {{ instance.attributes_str }}
    # picture helper
    {{ instance.get_size }} or {{ picture_size }}
    # link settings
    {{ instance.link_url }}
    {{ instance.link_page }}
    {{ instance.link_target }}
    {{ instance.link_attributes_str }}
    # link helper
    {{ instance.get_link }} or {{ picture_link }}
    # cropping settings
    {{ instance.use_automatic_scaling }}
    {{ instance.use_no_cropping }}
    {{ instance.use_crop }}
    {{ instance.use_upscale }}
    {{ instance.thumbnail_options }}
    # activate DJANGOCMS_PICTURE_NESTING to enable nested plugins:
    {% for plugin in instance.child_plugin_instances %}
        {% render_plugin plugin %}
    {% endfor %}
{% endcomment %}
