{% extends "base.html" %}
{% load cms_tags %}
{% load static %}

{% block title %}{% page_attribute "page_title" %}{% endblock title %}

{% block content %}

{% placeholder 'Title Section Background' %}

<!--booking form section-->
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" >
     <div class="background-media" style="background-image: url(&#039;{% static 'images/site/promo-blur-notinclude.jpg' %} &#039;); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" >
                    </div>

    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0.3);"></div>

    <div class="container container-vertical-middle">
        <div class="row vertical-middle">
            <div class="col-md-12     text-center small-screen-default"  ><div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFF">
    <div class="visible-xs" style="height:40px;"></div>
    <div class="visible-sm" style="height:40px;"></div>
    <div class="visible-md" style="height:40px;"></div>
    <div class="visible-lg" style="height:40px;"></div>
    </div><div role="form" class="wpcf7" id="wpcf7-f108-p77-o1" lang="en-US" dir="ltr">
    <div class="screen-reader-response"></div>
            {% placeholder 'Booking Form01' %}

            </div>
                <div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFF">
        <div class="visible-xs" style="height:40px;"></div>
        <div class="visible-sm" style="height:40px;"></div>
        <div class="visible-md" style="height:40px;"></div>
        <div class="visible-lg" style="height:40px;"></div>
    </div>
            </div>
        </div>
    </div>
</section>
<!--end booking section -->
<!--start rooms-->
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" >
    <div class="background-media" style="background-image: url(&#039;{% static 'images/site/hotel-4-notinclude.jpg' %}&#039;); background-repeat:no-repeat; background-size:cover; background-attachment:fixed; background-position: 50% 0%;" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px"> </div>
    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(86,154,167,0);"></div>
    <div class="container-fullwidth container-vertical-middle">
        <div class="row vertical-middle">
            <div class="col-md-6 text-default small-screen-default"  style="background:rgba(255, 255, 255, 0.95);">
                <div class="row ">
                    <div class="col-md-2 text-default small-screen-default" >
                </div>
                    <div class="col-md-8     text-center small-screen-default" >
                        <h2 class="text-default  element-top-100 element-bottom-0 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s" >
   {% placeholder 'Rooms Title' %}</h2><div class="figure element-top-0 element-bottom-0   os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
            <span class="figure-image">
        <img width="200" height="17" src="{% static 'images/decor-small-gold.png' %}" class="attachment-full size-full" alt="" />            </span>
    </div>
<div class="col-text-1 text-normal  element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
    {% placeholder 'Rooms description' %}
</div>
  {% placeholder 'Rooms Button Link' %}
    </div>
    <div class="col-md-2     text-default small-screen-default"  ></div></div></div><div class="col-md-6     text-center small-screen-default"  ></div>        </div>
</div>
</section>
<!--end rooms-->
{% placeholder 'spa-background' %}
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" >
<div class="background-media spa-background" style="" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px"></div>

<div class="background-overlay grid-overlay-0 " style="background-color: rgba(86,154,167,0);"></div>

<div class="container-fullwidth container-vertical-middle">
    <div class="row vertical-middle">
        <div class="col-md-6     text-default small-screen-default"  >
            <div class="divider-wrapper " style="visibility:hidden;background-color:#FFFFF">
                <div class="visible-xs" style="height:200px;"></div>
                <div class="visible-sm" style="height:200px;"></div>
                <div class="visible-md" style="height:200px;"></div>
                <div class="visible-lg" style="height:200px;"></div>
            </div>
        </div>
<div class="col-md-6     text-center small-screen-default"  style="background:rgba(255, 255, 255, 0.95);">
        <div class="row ">
            <div class="col-md-2     text-default small-screen-default"  ></div>
            <div class="col-md-8     text-center small-screen-default"  >
                <h2 class="text-default  element-top-100 element-bottom-0 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s" >
{% placeholder 'Spa Center' %}</h2><div class="figure element-top-0 element-bottom-0   os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
        <span class="figure-image">
    <img width="200" height="17" src="{% static 'images/decor-small-gold.png' %}" class="attachment-full size-full" alt="" />            </span>
</div>
<div class="col-text-1 text-normal  element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
{% placeholder 'Spa Describtion' %}
</div>
                {% placeholder 'Spa Button Link' %}
</div><div class="col-md-2     text-default small-screen-default"  ></div></div></div>        </div>
</div>
</section>
<!--end spa-->
<!--restaurant section-->
{% placeholder 'restaurant-background' %}
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" >
            <div class="background-media restaurant-background" style="" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px">
                    </div>

    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(86,154,167,0);"></div>

    <div class="container-fullwidth container-vertical-middle">
        <div class="row vertical-middle">
            <div class="col-md-6     text-default small-screen-default"  style="background:rgba(255, 255, 255, 0.95);"><div class="row "><div class="col-md-2     text-default small-screen-default"  ></div><div class="col-md-8     text-center small-screen-default"  ><h2 class="text-default  element-top-100 element-bottom-0 text-normal os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s" >
    {% placeholder 'Restaurant Title' %}</h2><div class="figure element-top-0 element-bottom-0   os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
            <span class="figure-image">
        <img width="200" height="17" src="{% static 'images/decor-small-gold.png' %}" class="attachment-full size-full" alt="" />            </span>
    </div>
<div class="col-text-1 text-normal  element-top-20 element-bottom-20 os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.3s">
 {% placeholder 'Restaurant Description' %}
</div>
                {% placeholder 'Restaurant Link' %}
</div><div class="col-md-2     text-default small-screen-default"  ></div></div></div><div class="col-md-6     text-center small-screen-default"  ></div>        </div>
    </div>
</section>
<!--end restaurant-->
<!--our guest section-->
{% placeholder 'guest-background' %}
<section class="section  text-normal section-text-no-shadow section-inner-no-shadow section-normal section-opaque" >
            <div class="background-media guest-background" style="" data-start="background-position: 50% 0px" data-0-top-bottom="background-position: 50% -80px">
                    </div>

    <div class="background-overlay grid-overlay-0 " style="background-color: rgba(0,0,0,0.7);"></div>

    <div class="container container-vertical-middle">
        <div class="row vertical-middle">
            <div class="col-md-2     text-center small-screen-default"  ></div><div class="col-md-8     text-center small-screen-default"  ><h2 class="text-default  element-top-100 element-bottom-0 text-light os-animation big default" data-os-animation="fadeIn" data-os-animation-delay="0.1s" >
  {% placeholder 'Our Guest Title' %}</h2><div class="figure element-top-0 element-bottom-0   os-animation" data-os-animation="fadeIn" data-os-animation-delay="0.2s">
            <span class="figure-image">
        <img width="200" height="17" src="{% static 'images/decor-small-white.png' %}" class="attachment-full size-full" alt="" />            </span>
    </div>
<div id="flexslider-396" class=" element-top-20 element-bottom-100 text-center text-light os-animation flexslider feature-slider" data-os-animation="fadeIn" data-os-animation-delay="0.3s" data-flex-animation="slide" data-flex-controls-position="outside" data-flex-controlsalign="center" data-flex-directions="hide" data-flex-speed="7000" data-flex-controls="show" data-flex-slideshow="true">
    <ul class="slides">
        <li><blockquote>{% placeholder 'Guest 01' %}</blockquote></li>
        <li><blockquote>{% placeholder 'Guest 02' %}</blockquote></li>
        <li><blockquote>{% placeholder 'Guest 03' %}</blockquote></li>
    </ul>
</div>
        </div>
            <div class="col-md-2 text-default small-screen-default"  ></div>
    </div>
    </div>
</section>

	{% placeholder "content" %}
{% endblock content %}
